body{
    background-color: rgba(233, 176, 190, 0.925);
    margin: 50 500;
}
h2{
    text-align: center;
}
 #container
 {
   
    background-color: rgb(201, 100, 18);
    text-align: centerrgb(245, 213, 187)
 }