

body {
    background-color: #f9fbfd;
    font-family: 'Arial', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;


}

#footer
     {
        widht:100%;
        height:160px;
        color:rgb(19, 2, 2);
     }
     .common
     {
           display: inline-block;
          width:33%;
          height:100px;
          
     }

#nav{
float: right;
}

.container {
    margin-top: 30px;
}

.navbar {
    background-color: #ffffff;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #000000;
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
    color: #007bff;
}

h2{
    color: rgb(54, 25, 38);
    font-weight: bold;
}

